// These colors is named based on https://chir.ag/projects/name-that-color/
// Should use the website above to have the same name of colors

$cl_mine-shaft: #262626;
$cl_gray: #8e8e8e;
$cl_alabaster: #fafafa;
$cl_azure-radiance: #0095f6;
$cl_silver: #c7c7c7;
$cl_amaranth: #ed4956;
$cl_white: #ffffff;
